<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css?after">
    <title>개인 맞춤형 아로마 테라피</title>
</head>
<body>
    <h1>개인 맞춤형 아로마 테라피</h1>
    <form method="POST">
        <!--질문1-->
        <label>스트레스와 우울감을 자주 경험하나요?</label><br><br>
        <input type="radio" name="stress" value="1"> 전혀 그렇지 않다
        <input type="radio" name="stress" value="2"> 그렇지 않다
        <input type="radio" name="stress" value="3"> 보통이다
        <input type="radio" name="stress" value="4"> 그렇다
        <input type="radio" name="stress" value="5"> 매우 그렇다<br><br><br>
        <!--질문2-->
        <label>천식, 잦은 기침, 가래 등 호흡기 관련 문제를 자주 겪나요?</label><br><br>
        <input type="radio" name="breath" value="1"> 전혀 그렇지 않다
        <input type="radio" name="breath" value="2"> 그렇지 않다
        <input type="radio" name="breath" value="3"> 보통이다
        <input type="radio" name="breath" value="4"> 그렇다
        <input type="radio" name="breath" value="5"> 매우 그렇다<br><br><br>
        <!--질문3-->
        <label>잦은 소변, 방광염 등 비뇨기계 관련 문제를 자주 겪나요?</label><br><br>
        <input type="radio" name="pee" value="1"> 전혀 그렇지 않다
        <input type="radio" name="pee" value="2"> 그렇지 않다
        <input type="radio" name="pee" value="3"> 보통이다
        <input type="radio" name="pee" value="4"> 그렇다
        <input type="radio" name="pee" value="5"> 매우 그렇다<br><br><br>
        <!--질문4-->
        <label>피부염이나 건조한 피부, 여드름 등 피부 관련 문제를 자주 겪나요?</label><br><br>
        <input type="radio" name="skin" value="1"> 전혀 그렇지 않다
        <input type="radio" name="skin" value="2"> 그렇지 않다
        <input type="radio" name="skin" value="3"> 보통이다
        <input type="radio" name="skin" value="4"> 그렇다
        <input type="radio" name="skin" value="5"> 매우 그렇다<br><br><br>
        <!--질문5-->
        <label>불면증, 과도한 스트레스 등으로 일상 생활에서 피로감을 자주 느끼나요?</label><br><br>
        <input type="radio" name="sleep" value="1"> 전혀 그렇지 않다
        <input type="radio" name="sleep" value="2"> 그렇지 않다
        <input type="radio" name="sleep" value="3"> 보통이다
        <input type="radio" name="sleep" value="4"> 그렇다
        <input type="radio" name="sleep" value="5"> 매우 그렇다<br><br><br>
        <!--질문6-->
        <label>설사, 구토, 소화 불량, 변비 등 소화기계 관련 문제를 자주 겪나요?</label><br><br>
        <input type="radio" name="stomach" value="1"> 전혀 그렇지 않다
        <input type="radio" name="stomach" value="2"> 그렇지 않다
        <input type="radio" name="stomach" value="3"> 보통이다
        <input type="radio" name="stomach" value="4"> 그렇다
        <input type="radio" name="stomach" value="5"> 매우 그렇다<br><br><br>
        <!--질문7-->
        <label>면역력 약화로 인해 감기, 독감 등 유행성 질병에 자주 걸리나요?</label><br><br>
        <input type="radio" name="immune" value="1"> 전혀 그렇지 않다
        <input type="radio" name="immune" value="2"> 그렇지 않다
        <input type="radio" name="immune" value="3"> 보통이다
        <input type="radio" name="immune" value="4"> 그렇다
        <input type="radio" name="immune" value="5"> 매우 그렇다<br><br><br>
        <input type="submit" value="추천받기">
    </form>
</body>
</html>